.uncontrolled-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.form-field label {
  font-weight: 500;
  font-size: 0.9rem;
}

.form-field input,
.form-field select {
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-family: inherit;
}

.radio-field {
  align-items: center;
}

.radio-group {
  display: flex;
  gap: 1rem;
  margin-top: 0.2rem;
}

.checkbox-field {
  flex-direction: row;
  align-items: center;
}

.checkbox-field label {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  margin-top: 1rem;

  font-weight: normal;
  color: #888;
  font-size: 0.8rem;
}

.submit-btn {
  width: fit-content;
  align-self: center;
  background-color: #f0a34b;
  border: none;

  color: white;
  font-weight: bold;

  padding: 2rem;
  border-radius: 2rem;

  cursor: pointer;

  transition: background 0.2s;
}

.submit-btn:hover {
  background-color: #d47e2a;
}

.form-title {
  text-align: center;
}

.form-subtitle {
  text-align: center;
  font-size: 0.8rem;
  color: #888;
  margin-bottom: 0.5rem;
}
