.welcome-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}

.welcome-description {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}

.welcome-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.welcome-icon {
  width: 60px;
  height: 60px;
}

.welcome-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
