.app-container {
  width: 100%;
  height: 100%;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.app-left-part {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}

.app-description {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.app-icon {
  width: 60px;
  height: 60px;
}

.app-hero {
  width: 50%;
}

.app-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
